/* Universal */
@font-face {
    font-family: "Segoe UI";
    src: url('fonts/Segoe\ UI.ttf') format("ttf");
}

.uppercase{
    text-transform: uppercase;
}

.no-wrap {
    white-space: nowrap;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
    font-family: inherit;
}

*{
    font-size: 62.5%; /* Sets base to 10px for easier calculation with rem */
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-inline-size: 100%;
}

/* Header */
header{
    display: flex;
    padding-top: 10.5rem;
    padding-bottom: 10.5rem;
    background-color: #f8f8f8;
    justify-content: center;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    width: min(100%, 100.2rem);
    margin-inline: 3rem;
}

.brand-name{
    display: flex;
    flex-direction: column;
}

.brand-name__headline{
    font-size: 3.3rem;
    color: #143774;
    font-family: "Lora", serif;
    text-align: center;
}

.brand-name__subtext{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #1792d2;
    text-align: center;
}


.nav{
    display: flex;
    align-items: center;
}

.nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.nav__link{
    font-size: 1.6rem;
    letter-spacing: 3.2px;
    font-weight: 700;
    color: #717171;
    text-decoration: none;
}

.current-page{
    text-decoration: underline;
}

/* Main */
main{

    margin-top: 5.4rem;
    margin-bottom: 10.4rem;
} 

.article-section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5.1rem;
    

    width: min(100%, 70.2rem);


}




.aside{
    width: 24rem;
    height: 24rem;
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* Articles */

.article-card{
    display: flex;
    gap: 2.7rem;
    width: min(100%, 70.2rem);
    grid-column: 1 / 2;

}

.article__photo{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    
}

.article__photo-img{
    min-width: 19.8rem;
    height: 24.2rem;
    object-fit: cover;
    margin-top: 8px;
 
}

.article__img-figcaption{
    font-size: 1.4rem;
    font-family: "Segoe UI", sans-serif;
    color: #707070;
}

.article-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
}

.article__headline{
    font-size: 2.4rem;
 
    color: #143774;
    font-family: "Lora", serif;
    font-weight: 400;

    

}

.article__desription{
    font-size: 1.8rem;
    color: #707070;
    font-weight: 300;

}

.article__link{
    font-weight: 700;
    color:#1792d2;
    font-size: 1.4rem;
    text-decoration: none;

}






/* Footer */
footer{
    background-color: #143774;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 6rem;
    gap: 1rem;
    align-items: center;
}

.footer__text{
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;

}

.footer__copyright{
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;

}

/* Media quieries */

@media screen and (max-width: 827px) {
    .header-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.3rem;
    }

    .nav ul{
        flex-direction: column;
    }

    .nav__link{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 557px) {
    .article-card{
        flex-direction: column;
        margin-inline: 2.1rem; 
        width: auto;
        gap: 1rem;
    
    }

    .article__img-figcaption{
        display: flex;
        justify-content: end;
        

    }
}